<section class="about-this-game" id="about-this-game">
  <div class="container section-container">
    <h2 class="about-this-game--title">About This Game</h2>
    <div class="about-this-game--inner">
      <p class="about-this-game--text">
        Cookie Mania is a delightful match-3 game where players match cookies to
        serve customers in a bustling bakery setting. With hundreds of levels,
        each offering unique challenges and objectives, players can enjoy a
        deliciously sweet gameplay experience.
      </p>
      <picture class="about-this-game--img">
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/about-this-game/about-this-game-desktop-img.jpg    1x,
            /img/about-this-game/about-this-game-desktop-img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/about-this-game/about-this-game-mobile-img.jpg    1x,
            /img/about-this-game/about-this-game-mobile-img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class=""
          src="/img/about-this-game/about-this-game-desktop-img.jpg"
          alt="Image with game"
          width="370"
          height="316"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
