<section class="faqSection" id="faq">
  <h2 class="faqHeading">FAQ</h2>
  <div class="accordion-container">
    <button class="accordion active">
      <span class="faqTextSpan">How do I start playing Cookie Mania?</span>
      <div class="icon-container"><span class="faqSpan">+</span><span class="faqMinus">-</span></div>
    </button>
    <div class="panel open" style="max-height: 100px;">
      <p class="faqParagraph">Simply download from Google Play and press 'Play'.</p>
    </div>

    <button class="accordion">
      <span class="faqTextSpan">Is Cookie Mania free?</span>
      <div class="icon-container"><span class="faqSpan">+</span><span class="faqMinus">-</span></div>
    </button>
    <div class="panel">
      <p class="faqParagraph">Yes, the game is free to play, with optional in-app purchases.</p>
    </div>

    <button class="accordion">
      <span class="faqTextSpan">Can I play Cookie Mania without <br> an internet connection?</span>
      <div class="icon-container"><span class="faqSpan">+</span><span class="faqMinus">-</span></div>
    </button>
    <div class="panel">
      <p class="faqParagraph">Yes, enjoy seamless offline gameplay.</p>
    </div>

    <button class="accordion">
      <span class="faqTextSpan">How do I get more lives?</span>
      <div class="icon-container"><span class="faqSpan">+</span><span class="faqMinus">-</span></div>
    </button>
    <div class="panel">
      <p class="faqParagraph">Lives refill over time, or you can purchase them.</p>
    </div>
  </div>
</section>