<section class="gallerySection" id="gallery">
  <h2 class="galleryHeading">
    Gallery</h2>
  <div class="galleryPictures">
    <img class="galleryPicturesItem" src="/img/HowToPlay/galleryPhone1.png" alt="photo of the game">
    <img class="galleryPicturesItem" src="/img/HowToPlay/galleryPhone2.png" alt="photo of the game">
    <img class="galleryPicturesItem" src="/img/HowToPlay/galleryPhone3.png" alt="photo of the game">
    <img class="galleryPicturesItemDesktop" src="/img/HowToPlay/gallerydesk1.png" alt="photo of the game">
    <img class="galleryPicturesItemDesktop" src="/img/HowToPlay/gallerydesk2.png" alt="photo of the game">
    <img class="galleryPicturesItemDesktop" src="/img/HowToPlay/gallerydesk3.png" alt="photo of the game">
    <img class="galleryPicturesItemDesktop" src="/img/HowToPlay/gallerydesk4.png" alt="photo of the game">
    <div class="galleryLowerPicturesItems">
      <img class="galleryPicturesItem" src="/img/HowToPlay/galleryPhone4.png" alt="photo of the game">
      <img class="galleryPicturesItem" src="/img/HowToPlay/galleryPhone5.png" alt="photo of the game">
      <img class="galleryPicturesItemDesktop" src="/img/HowToPlay/gallerydesk5.png" alt="photo of the game">
      <img class="galleryPicturesItemDesktop" src="/img/HowToPlay/gallerydesk6.png" alt="photo of the game">
      <img class="galleryPicturesItemDesktop" src="/img/HowToPlay/gallerydesk7.png" alt="photo of the game">
    </div>
  </div>
</section>