<section class="gallerySection" id="gallery">
  <h2 class="galleryHeading">
    Gallery</h2>
  <div class="galleryPictures">
    <img class="galleryPicturesItemDesktop" src="/img/gallery/gallerydesk1.png" alt="photo of the game">
    <img class="galleryPicturesItemDesktop" src="/img/gallery/gallerydesk2.png" alt="photo of the game">
    <img class="galleryPicturesItemDesktop" src="/img/gallery/gallerydesk3.png" alt="photo of the game">
    <img class="galleryPicturesItemDesktop" src="/img/gallery/gallerydesk4.png" alt="photo of the game">
    <div class="galleryLowerPicturesItems">
      <img class="galleryPicturesItemDesktop" src="/img/gallery/gallerydesk5.png" alt="photo of the game">
      <img class="galleryPicturesItemDesktop" src="/img/gallery/gallerydesk6.png" alt="photo of the game">
      <img class="galleryPicturesItemDesktop" src="/img/gallery/gallerydesk7.png" alt="photo of the game">
    </div>
  </div>
</section>