<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#benefits" class="nav-link">Benefits</a>
          </li>
          <li class="nav-item">
            <a href="#about-this-game" class="nav-link">About This Game</a>
          </li>
        </ul>
      </nav>

      <a href="index.html" class="nav-logo">
        <picture>
          <source media="(min-width: 320px)" srcset="/img/header/logo.png 1x, /img/header/logo@2x.png 2x"
            type="image/png" />
          <img class="nav-logo--img" src="/img/header/logo.png" alt="Logo" width="40" height="40" loading="lazy" />
        </picture>
      </a>

      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="" class="nav-link">How to Play</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Gallery</a>
          </li>
        </ul>
      </nav>

      <button class="header-mobile--btn" type="button">
        <svg class="header-mobile--burger-svg" width="60" height="30">
          <use href="/img/icons/sprite.svg#burger-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<div class="mobile-overlay">
  <nav class="mobile-nav">
    <div class="mobile-close--btn-wrapper">
      <button class="mobile-close--btn" type="button">
        <svg class="mobile-close--svg" width="20" height="20">
          <use href="/img/icons/sprite.svg#close-menu"></use>
        </svg>
      </button>
    </div>
    <ul class="mobile-nav--list">
      <li class="mobile-nav--item">
        <a class="mobile-nav--link" href="#home">Home</a>
      </li>
      <li class="mobile-nav--item">
        <a class="mobile-nav--link" href="#benefits">Benefits</a>
      </li>
      <li class="mobile-nav--item">
        <a class="mobile-nav--link" href="#about-this-game">About This Game</a>
      </li>
      <li class="mobile-nav--item">
        <a class="mobile-nav--link" href="#how-to-play">How to Play</a>
      </li>
      <li class="mobile-nav--item">
        <a class="mobile-nav--link" href="#faq">FAQ</a>
      </li>
      <li class="mobile-nav--item">
        <a class="mobile-nav--link" href="#reviews">Reviews</a>
      </li>
      <li class="mobile-nav--item">
        <a class="mobile-nav--link" href="#gallery">Gallery</a>
      </li>
    </ul>
  </nav>
</div>