<section class="home" id="home">
  <div class="container section-container">
    <div class="home-inner">
      <div class="home-content">
        <h1 class="home-title visually-hidden">Cookie Mania</h1>
        <div class="home-title">
          <picture class="">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/home/home-decktop-title.png    1x,
                /img/home/home-decktop-title@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/home/home-mobile-title.png    1x,
                /img/home/home-mobile-title@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="/img/home/home-decktop-title.png"
              alt="Cookie Mania"
              width="594"
              height="159"
              loading="lazy"
            />
          </picture>
        </div>
        <h2 class="home-subtitle">
          Unleash Your Inner Baker with the Sweetest Match-3 Adventure!
        </h2>
        <div class="home-btn--googleplay-box home-btn--googleplay-desktop">
          <a
            class="home-btn--googleplay"
            href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.cookiemania&hl=uk"
            target="_blank"
            ><img
              src="/img/home/google-play-text.svg"
              alt="Google Play"
              width="143"
              height="33"
              loading="lazy"
          /></a>
        </div>
      </div>
      <div class="home-img--wrapper">
        <picture class="home-phone-1">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/home/home-desktop-phone-1.png    1x,
              /img/home/home-desktop-phone-1@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/home/home-mobile-phone-1.png    1x,
              /img/home/home-mobile-phone-1@2x.png 2x
            "
            type="image/png"
          />
          <img
            class=""
            src="/img/home/home-desktop-phone-1.png"
            alt="Image with game two"
            width="167"
            height="326"
            loading="lazy"
          />
        </picture>

        <picture class="home-phone-2">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/home/home-desktop-phone-2.png    1x,
              /img/home/home-desktop-phone-2@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/home/home-mobile-phone-2.png    1x,
              /img/home/home-mobile-phone-2@2x.png 2x
            "
            type="image/png"
          />
          <img
            class=""
            src="/img/home/home-desktop-phone-2.png"
            alt="Image with game two"
            width="167"
            height="326"
            loading="lazy"
          />
        </picture>

        <picture class="home-phone-3">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/home/home-desktop-phone-3.png    1x,
              /img/home/home-desktop-phone-3@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/home/home-mobile-phone-3.png    1x,
              /img/home/home-mobile-phone-3@2x.png 2x
            "
            type="image/png"
          />
          <img
            class=""
            src="/img/home/home-desktop-phone-3.png"
            alt="Image with game two"
            width="167"
            height="326"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="home-btn--googleplay-box home-btn--googleplay-mobile">
      <a
        class="home-btn--googleplay"
        href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.cookiemania&hl=uk"
        target="_blank"
        ><img
          src="/img/home/google-play-text.svg"
          alt="Google Play"
          width="143"
          height="33"
          loading="lazy"
      /></a>
    </div>
  </div>
</section>
