<section class="howToPlaySection" id="how-to-play">
  <h2 class="howToPlayHeading">How to play</h2>
  <div class="howToPlayMainDiv">
    <div class="howToPlayDiv">
      <div class="howToPlayInnerContent">
        <img class="howToPlayImageMob" src="/img/HowToPlay/phone1.png" alt="Screenshot of the game">
        <img class="howToPlayImageDesc" src="/img/HowToPlay/phoneDesk1.png" alt="Screenshot of the game">

        <p class="howToPlayParagraph">Match 3 or more cookies to clear them from the board.</p>
      </div>
    </div>
    <div class="howToPlayDiv">
      <div class="howToPlayInnerContent">
        <img class="howToPlayImageMob" src="/img/HowToPlay/phone2.png" alt="Screenshot of the game">
        <img class="howToPlayImageDesc" src="/img/HowToPlay/deskPhone22.png" alt="Screenshot of the game">

        <p class="howToPlayParagraph">Utilize unique power-ups to solve challenging puzzles.</p>
      </div>
    </div>
    <div class="howToPlayDiv">
      <div class="howToPlayInnerContent">
        <img class="howToPlayImageMob" src="/img/HowToPlay/phone3.png" alt="Screenshot of the game">
        <img class="howToPlayImageDesc" src="/img/HowToPlay/deskPhone33.png" alt="Screenshot of the game">

        <p class="howToPlayParagraph">Meet specific level goals to progress through the game.</p>
      </div>
    </div>
    <div class="howToPlayDiv">
      <div class="howToPlayInnerContent">
        <img class="howToPlayImageMob" src="/img/HowToPlay/phone4.png" alt="Screenshot of the game">
        <img class="howToPlayImageDesc" src="/img/HowToPlay/deskPhone44.png" alt="Screenshot of the game">

        <p class="howToPlayParagraph">Engage in special event levels for extra rewards.</p>
      </div>
    </div>
</section>