<section class="reviewsSection" id="reviews">
  <h2 class="reviewsHeading">Reviews</h2>
  <div class="swiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <img class="reviewsPhoneImg" src="/img/reviews/111rev.png" alt="Review Slide 1">
        <img class="reviewsDeskImg" src="/img/reviews/123123123123.png" alt="Review Slide 1">
        <div class="reviewBubble">
          <div class="reviewContent">
            <img class="avatar" src="/img/reviews/avatarmob1.png" alt="Avatar">
            <img class="avatarDesk" src="/img/reviews/revewsDesk1.png" alt="Avatar">
            <div class="reviewText">
              <p class="reviewsName">CookieLover:</p>
              <p class="reviewsDescription">"Addictive gameplay and super cute graphics. Love it!"</p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <img class="reviewsPhoneImg" src="/img/reviews/111rev.png" alt="Review Slide 1">
        <img class="reviewsDeskImg" src="/img/reviews/123123123123.png" alt="Review Slide 1">
        <div class="reviewBubble">
          <div class="reviewContent">
            <img class="avatar" src="/img/reviews/avatarmob2.png" alt="Avatar">
            <img class="avatarDesk" src="/img/reviews/revewsDesk2.png" alt="Avatar">
            <div class="reviewText">
              <p class="reviewsName">SweetTooth:</p>
              <p class="reviewsDescription">"Best match-3 game out there. Keeps me entertained for hours."</p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <img class="reviewsPhoneImg" src="/img/reviews/111rev.png" alt="Review Slide 1">
        <img class="reviewsDeskImg" src="/img/reviews/123123123123.png" alt="Review Slide 1">
        <div class="reviewBubble">
          <div class="reviewContent">
            <img class="avatar" src="/img/reviews/avatarmob3.png" alt="Avatar">
            <img class="avatarDesk" src="/img/reviews/revewsDesk3.png" alt="Avatar">
            <div class="reviewText">
              <p class="reviewsName">BakerBob:</p>
              <p class="reviewsDescription">"The level variety is fantastic, and the special events are always a treat."
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <img class="reviewsPhoneImg" src="/img/reviews/111rev.png" alt="Review Slide 1">
        <img class="reviewsDeskImg" src="/img/reviews/123123123123.png" alt="Review Slide 1">
        <div class="reviewBubble">
          <div class="reviewContent">
            <img class="avatar" src="/img/reviews/avatarmob4.png" alt="Avatar">
            <img class="avatarDesk" src="/img/reviews/revewsDesk4.png" alt="Avatar">
            <div class="reviewText">
              <p class="reviewsName">SugarHigh:</p>
              <p class="reviewsDescription">"Great for all ages. The whole family enjoys playing together."</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>