.benefits {
  padding: 28px 0;

  @include media(desktop) {
    padding: 40px 0;
  }

  &-container {
    @include media(desktop) {
      padding: 0 115px;
    }
  }

  &-title {
    color: #000;
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;

    @include media(desktop) {
      font-size: 40px;
      margin-bottom: 56px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 16px;

    @include media(desktop) {
      gap: 97px;
    }
  }

  &-item {
    flex-basis: calc((100% - 16px) / 2);

    @include media(desktop) {
      flex-basis: calc((100% - 291px) / 4);
    }
  }

  &-img {
    transition: filter 0.3s ease-in;
  }

  &-img:hover {
    @include media(desktop) {
      filter: drop-shadow(0px 0px 45.3px #fff);
    }
  }

  &-text {
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include media(desktop) {
      font-size: 20px;
    }
  }
}

.benefits-box {
  &--img {
    padding: 0 18px 24px 18px;

    @include media(desktop) {
      margin-bottom: 21px;
    }
  }
}
