@keyframes scrollGalleryInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-252px * 7 - 24px * 6));
  }
}

.gallerySection {
  background: url('../img/gallery/gagaga.png') repeat;
  padding-bottom: 40px;
  margin: 0 auto;
  position: relative;
  max-width: 320px;
  scroll-margin-top: 100px;
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    background-image: url('../img/gallery/deskdeskdesk.png');
    max-width: 1200px;
    padding-bottom: 60px;
  }
}

.galleryHeading {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: #000;
  padding: 40px 0 32px;

  @media screen and (min-width: 1200px) {
    font-size: 40px;
    padding-top: 154px;
  }
}

.galleryNonVisible {
  display: flex;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.galleryPictures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  animation: scrollGalleryInfinite 15s linear infinite;
  width: calc(252px * 14 + 12px * 13);

  @media screen and (min-width: 1200px) {
    animation: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 21px;
    justify-content: center;
    max-width: 1200px;
    column-gap: 60px;
  }
}

.galleryPicturesItemDesktop {
  display: block;
  min-width: 252px;
  transform: rotate(-15deg);

  @media screen and (min-width: 1200px) {
    transform: none;
  }
}

.galleryLowerPicturesItems {
  display: flex;
  column-gap: 12px;

  @media screen and (min-width: 1200px) {
    column-gap: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .galleryPicturesItem:hover,
  .galleryPicturesItemDesktop:hover {
    transform: scale(1.5) rotate(-15deg);
    transition: all 0.25s ease-in-out;
  }
}
