.home {
  background-image: url('../img/home/home-mobile-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 553px;
  padding: 132px 0 34px 0;
  max-width: 320px;
  margin: 0 auto;
  scroll-margin-top: 100px;

  @include media(desktop) {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url('../img/home/home-desktop-bg.jpg');
  }

  @include resolution(mobile) {
    background-image: url('../img/home/home-mobile-bg@2x.jpg');
  }

  @include resolution(desktop) {
    background-image: url('../img/home/home-desktop-bg@2x.jpg');
  }

  &-inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;

    @include media(desktop) {
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  &-title {
    width: 285px;

    @include media(desktop) {
      width: 594px;
    }
  }

  &-subtitle {
    color: #000;
    font-family: var(--second-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;

    @include media(desktop) {
      font-size: 24px;
      width: 570px;
      margin-bottom: 79px;
    }
  }
}

.home-img {
  &--wrapper {
    position: relative;
    width: 217px;
    height: 249px;
    margin: 0 auto;

    @include media(desktop) {
      width: 370px;
      height: 426px;
    }
  }
}

.home-phone-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 99px;

  @include media(desktop) {
    width: 167px;
  }
}
.home-phone-2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.home-phone-3 {
  position: absolute;
  top: 18px;
  right: 0;
  width: 99px;

  @include media(desktop) {
    width: 167px;
  }
}

.home-btn {
  &--googleplay-box {
    border: 3px solid #fff;
    border-radius: 12px;
    width: 229px;
    margin: 0 auto;
    background: linear-gradient(180deg, #d6fe81 0%, #36aa13 100%);
    transition: background 0.3s ease-in;
    position: relative;
  }

  &--googleplay-box::before {
    content: '';
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 1px solid #108c0a;
    z-index: 1;
    pointer-events: none;
    background: url('../img/home/google-play.png') no-repeat center center/27px
        47px,
      linear-gradient(180deg, #d6fe81 0%, #36aa13 100%);
    transition: background 0.3s ease-in;
  }

  &--googleplay-box:hover {
    @include media(desktop) {
      background: linear-gradient(180deg, #c1ff3e 0%, #2bbb00 100%);
    }

    &::before {
      @include media(desktop) {
        background: url('../img/home/google-play.png') no-repeat center
            center/27px 47px,
          linear-gradient(180deg, #c1ff3e 0%, #2bbb00 100%);
      }
    }
  }

  &--googleplay-box:focus {
    @include media(desktop) {
      background: linear-gradient(180deg, #2bbb00 0%, #2bbb00 100%);
    }

    &::before {
      @include media(desktop) {
        background: url('../img/home/google-play.png') no-repeat center
            center/27px 47px,
          linear-gradient(180deg, #2bbb00 0%, #2bbb00 100%);
      }
    }
  }
}

.home-btn {
  &--googleplay {
    display: flex;
    padding: 7px 18px 5px 12px;
    border-radius: 10px;
    border: 1px solid #108c0a;
    position: relative;

    @include media(desktop) {
      margin: 0;
    }
  }

  &--googleplay::before {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 3px solid #fff;
  }
}

.home-btn--googleplay-desktop {
  display: none;

  @include media(desktop) {
    display: inline-block;
  }
}
.home-btn--googleplay-mobile {
  display: block;

  @include media(desktop) {
    display: none;
  }
}
