@import url('./howToPlay.scss');
@import url('./FAQ.scss');

@font-face {
  font-family: 'Fredoka One';
  src: url('../assets/FredokaOne-Regular.ttf');
}

:root {
  --font-family: 'Fredoka One', sans-serif;
  --second-family: 'Comfortaa', sans-serif;
  --third-family: 'Cleo Folk Demo', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fdc52b;
}
