@import url('./header.scss');
@import url('./home.scss');
@import url('./benefits.scss');
@import url('./about-this-game.scss');
@import url('./how-to-play.scss');
@import url('./faq.scss');

@font-face {
  font-family: 'Fredoka One';
  src: url('../assets/FredokaOne-Regular.ttf');
}

@font-face {
  font-family: 'Cleo Folk Demo';
  src: url(../fonts/cleo-folk-demo.regular.woff2) format('woff2'),
    url(../fonts/cleo-folk-demo.regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: 'Fredoka One', sans-serif;
  --second-family: 'Comfortaa', sans-serif;
  --third-family: 'Cleo Folk Demo', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  background-color: #fdc52b;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1200px;
    padding: 0 15px;
  }
}
